.wrapper {
    width: 900px;
    height: 60vh;
    margin: 0 auto;
}

.container {
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 15px;
}

.header {
    background: deepskyblue;
    padding: 10px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.executor {
    font-weight: bold;
}

.price {
  display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

.description {
  font-size: 14px;
}


.direction {
    padding: 10px;
}

.info {
}

.changeButton {
    width: 100%;
    background: orange;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1px;
    cursor: pointer;
}
